@model IEnumerable<_08122023adminapproval.Models.Registration>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Role.Roleid)
            </td>
            <td>
                
                <a asp-controller="User" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <button><a asp-controller="User" asp-action="Approve" asp-route-id="@item.Id">Approve</a></button> |
                    <button><a asp-controller="User" asp-action="DeApprove" asp-route-id="@item.Id">DeApprove</a></button> |
                
            </td>
        </tr>
}
    </tbody>
</table>
